<nav>
  <ul>
      <li><a (click)="handleAuthorization()" routerLink="/dashboard">Dashboard</a></li>
      <li><a (click)="handleAuthorization()" routerLink="/dashboard/inventarySale/inventary">Inventario</a></li>
      <li><a (click)="handleAuthorization()" routerLink="/dashboard/inventarySale/sales">Productos en venta</a></li>
      <li><a (click)="handleAuthorization()" routerLink="/dashboard/inventarySale/history-sales-view">Historial de ventas</a></li>
      <li><a (click)="logout()">Cerrar Sesión</a></li>
  </ul>
</nav>
