<!-- inventary.component.html -->
<div class="container">
    <div class="upper-div">
        <h2>Ventas Realizadas</h2>
    </div>
    <div class="product-list">
        <div> 
            <div class="grid-words header">
                <div class="product-date">Sale Date</div>
                <div class="product-name">Nombre de la venta</div>
                <div class="product-price">Total Ganado</div>
                <div class="product-actions">Productos Vendidos</div>
                <div class="product-actions">Acciones</div>
            </div>
        </div>
        <div *ngFor="let sale of saleList; let i = index" class="product-item">
            <div class="grid-words  product-row" >
                <div class="product-date">{{ sale.saleDate | date: 'dd-MM-yyyy':'UTC'}}</div>
                <div class="product-name">nombre Inventado</div>
                <div class="product-price">{{ sale.totalAmount| currency:'EUR' }}</div>
                <div class="product-sold">{{ showtotalstock(sale.productsSale) }}</div>
                <div class="product-actions" >
                    <button class="btn btn-info btn-sm" (click)="redirectToInformation(sale.saleId)">Mostrar</button>
                    <button class="btn btn-danger btn-sm" (click)="deleteSale(sale)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>




