
    <div class="product-list">

      
    
 


  <div class="container">

    <div class="upper-div ">
        <h2> Ligas </h2>
        <div routerLink="/sports/create-match" id="bag">
            Añadir Partido
        </div>
    </div>
    
    <div class="league-information">
        <!-- Aqui vamos a poner la informacion sobre la liga, es decir, partidos jugados en total, mejor jugador por estadisticas y demas -->
        <!-- Esto todo va a ser en league-inforamtionDTO -->
        


    </div>



    <select class="form-control box-filter" id="filterSelect" [(ngModel)]="selectedFilter" (change)="applyFilter()">
        <option value="none">Filtro  </option>
        <option value="name-descending">Alfabeticamente mayor a menor</option>
        <option value="price-descending">Mas gente</option>
        <option value="match-descending">Mas partidos Jugados</option>
        <option value="match-ascending">Menos partidos Jugados</option>
        <option value="points-descending">Mas puntos</option>
        <option value="points-ascending">Menos puntos</option>
        <option value="games-descending">Mas juegos Ganados</option>
        <option value="games-ascending">menos juegos Ganados</option>
    </select>


    <!-- Botones para cambiar entre vistas -->
    <button (click)="switchView('clasificacion')">Ver Clasificación</button>
    <button (click)="switchView('partidos')">Ver Partidos</button>
  
    <!-- Contenedor para la Clasificación -->
    <div *ngIf="view === 'clasificacion'">
      <h2>Clasificación</h2>
      <div *ngFor="let player of league?.players">
        <!-- Aquí iteras sobre los jugadores para mostrar la clasificación -->
        <p>{{ player.id }} - Puntos: {{ player.puntosClasificacion }}</p>
      </div>
    </div>
  
    <!-- Contenedor para los Partidos -->
    <div *ngIf="view === 'partidos'">
      <h2>Partidos Jugados</h2>
      <div *ngFor="let match of league?.matchs">
        <!-- Aquí iteras sobre los partidos jugados -->
        <p>{{ match.jugador1.name }} {{match.jugador2.name}} vs {{ match.jugador3.name }} {{match.jugador4.name}} - Resultado: {{ match.ganadorEquipo }}</p>
      </div>
    </div>
  </div>
  