<div class="container">

    <div class="upper-div">
        <h2>Información de la Venta</h2>
    </div>
  
    <div class="product-list">

      <div class="grid-words header">
        <div class="product-name">Nombre</div>
        <div class="product-price">Precio Total</div>
        <div class="product-stock">Precio Unitario</div>
        <div class="product-stock">Stock Vendido</div>
        <div class="product-actions">Acciones</div>
      </div>
  
      <div *ngFor="let productSold of saleInformation.productsSale; let i = index" class="product-item">
        <div class="grid-words  product-row">
            <div class="product-name">{{productSold.public_id}}</div>
            <div class="product-price">{{ productSold.totalPrice | currency:'EUR' }}</div>
            <div class="product-stock">{{ productSold.unitaryPrice | currency:'EUR' }}</div>
            <div class="product-stock">{{ productSold.totalStockSold }}</div>
            <div class="product-actions">
              <a [routerLink]="['/dashboard/inventarySale/update-product/', productSold.productId]" class="btn btn-primary btn-sm">Editar</a>
              <button class="btn btn-danger btn-sm" (click)="deleteProduct(productSold.public_id)">Eliminar</button>
              <button
                  *ngIf="productSold.existanceSizes"
                  class="btn btn-info btn-sm"
                  (click)="toggleGarments(i, $event)"
              >
                  {{ showGarments[i] ? 'Ocultar Tallas' : 'Ver Tallas' }}
              </button>
            </div>
        </div>
        <!-- Detalles del producto -->
        <div *ngIf="showGarments[i] && productSold.existanceSizes" class="product-details">
          <h5 class="tittle-details">Detalles de Tallas</h5>
          <div class="details-content">
            <div *ngFor="let garmentSale of productSold.garmentsSales" class="garment-row">
              <div class="garment-items">
                <div class="garment-item"><strong>Talla:</strong> {{ garmentSale.size }}</div>
                <div class="garment-item"><strong>Stock Vendido:</strong> {{ garmentSale.stockSold }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  