<div class="container">

    <div class="upper-div ">
        <h2> Ligas </h2>
        <div routerLink="/sports/exit-league" id="bag">
            Salise de la liga
        </div>
    </div>
    

    <select class="form-control box-filter" id="filterSelect" [(ngModel)]="selectedFilter" (change)="applyFilter()">
        <option value="none">Filtro  </option>
        <option value="price-ascending">Alfabeticamente mayor a menor</option>
        <option value="price-descending">Mas gente</option>
    </select>

    <div class="product-list">
        <div> 
            <div class="grid-words header">
                <div class="product-name">Ligas</div>
            </div>
        </div>
        <div *ngFor="let league of leagues; let i = index" class="product-item" (click)="leagueInformation()">
            <div class="grid-words  product-row" >
                <div class="product-name">{{ league.name }}</div>
            </div>
        </div>
    </div>
    
      
    
  </div>