
<form class="" [formGroup]="addProduct" (ngSubmit)="onSubmit()">
    <p class="text-danger">{{ addProductError }}</p>
    
    <div class="form-css margin-css">
      
        <div class="mb-3 element-css">
            <label for="name" class="form-label">Nombre</label>
            <input formControlName="name" type="text" class="form-control" id="name">
            <div *ngIf="addProduct.get('name')?.invalid && (addProduct.get('name')?.dirty || addProduct.get('name')?.touched)" class="text-danger">
              <div *ngIf="addProduct.get('name')?.errors?.['required']">
                El nombre es requerido.
              </div>
            </div>
          </div>
        
          <div class="mb-3 element-css">
            <label for="description" class="form-label">Descripción</label>
            <input formControlName="description" type="text" class="form-control" id="description">
            <div *ngIf="addProduct.get('description')?.invalid && (addProduct.get('description')?.dirty || addProduct.get('description')?.touched)" class="text-danger">
              <div *ngIf="addProduct.get('description')?.errors?.['required']">
                La descripción es requerida.
              </div>
            </div>
          </div>
        
          <div class="mb-3 element-css">
            <label for="price" class="form-label">Precio</label>
            <input formControlName="price" type="number" step="0.01" class="form-control" id="price">
            <div *ngIf="addProduct.get('price')?.invalid && (addProduct.get('price')?.dirty || addProduct.get('price')?.touched)" class="text-danger">
              <div *ngIf="addProduct.get('price')?.errors?.['required']">
                El precio es requerido.
              </div>
              <div *ngIf="addProduct.get('price')?.errors?.['min']">
                El precio debe ser mayor o igual a 0.
              </div>
            </div>
          </div>
        
          <div class="mb-3 element-css">
            <label for="totalStock" class="form-label">Stock Total</label>
            <input formControlName="totalStock" type="number" class="form-control" id="totalStock" >
            <div *ngIf="addProduct.get('totalStock')?.invalid && (addProduct.get('totalStock')?.dirty || addProduct.get('totalStock')?.touched)" class="text-danger">
              <div *ngIf="addProduct.get('totalStock')?.errors?.['required']">
                El stock es requerido.
              </div>
              <div *ngIf="addProduct.get('totalStock')?.errors?.['min']">
                El stock debe ser mayor o igual a 1.
              </div>
            </div>
          </div>
          
          <!-- Cargar Imagen del Producto -->
          <div class="form-group">
            <label for="image">Imagen:</label>
            <input type="file" id="image" (change)="onFileChange($event)" class="form-control" />
          </div>
        
          <div class="mb-3 ">
            <label for="isTshirt" class="form-check-label">¿Es una camiseta?</label>
            <input formControlName="isTshirt" type="checkbox" id="isTshirt">
          </div>

          
        </div>

        
          
        <div formArrayName="garments" class="margin-css">
            <div *ngFor="let garment of garments.controls; let i = index" [formGroupName]="i" class="mb-3 garment-row">
              <label for="size-{{i}}" class="form-label">Talla</label>
              <input formControlName="size" type="text" class="form-control" id="size-{{i}}">
              <label for="color-{{i}}" class="form-label">Color</label>
              <input formControlName="color" type="text" class="form-control" id="color-{{i}}">
              <label for="material-{{i}}" class="form-label">Material</label>
              <input formControlName="material" type="text" class="form-control" id="material-{{i}}">
              <label for="stock-{{i}}" class="form-label">Stock</label>
              <input formControlName="stock" type="number" class="form-control" id="stock-{{i}}">
              <button type="button" (click)="removeGarment(i)" class="btn btn-danger mt-2">Eliminar Talla</button>
            </div>
          </div>
        
          <button type="button" (click)="addGarment()" class="btn btn-primary margin-css">Añadir Talla</button>
          <button type="submit" class="btn btn-primary margin-css">Guardar Producto</button>

    
    
  </form>
  