<div class="content">
    <section class="box" id="quienes-somos">
        <h2>Quién Soy</h2>
        <p>Hola, soy Diego DC, un desarrollador apasionado por las soluciones tecnológicas innovadoras. Con más de una década de experiencia en el mercado, me especializo en crear productos y servicios que superan las expectativas de mis clientes. Mi objetivo es ofrecer herramientas tecnológicas accesibles y eficientes para mejorar la vida diaria de las personas.</p>
    </section>

    <section class="box" id="que-hago">
        <h2>Qué Hago</h2>
        <ul>
            <li><strong>Inventario:</strong> Herramientas para gestionar y controlar el inventario de productos en tiempo real.</li>
            <li><strong>Lector de Temperatura:</strong> Dispositivos para monitorear y registrar temperaturas de manera precisa.</li>
            <li><strong>Contador de Tenis:</strong> Sistemas para contar y registrar el número de partidos o eventos en actividades deportivas.</li>
        </ul>
        <p>Cada uno de estos servicios está diseñado para ser utilizado fácilmente en el hogar, permitiendo a cualquier persona implementar tecnología avanzada en su vida cotidiana sin complicaciones.</p>
    </section>

    <section class="box" id="proyectos">
        <h2>Proyectos Destacados</h2>
        <ul>
            <li><strong><a href="https://github.com/diegodc03/inventario" target="_blank">Sistema de Inventario</a>:</strong> Una aplicación para gestionar el inventario de productos con actualizaciones en tiempo real.</li>
            <li><strong><a href="https://github.com/diegodc03/lector-temperatura" target="_blank">Lector de Temperatura</a>:</strong> Dispositivo para monitorear y registrar temperaturas, ideal para aplicaciones en el hogar.</li>
            <li><strong><a href="https://github.com/diegodc03/contador-tenis" target="_blank">Contador de Tenis</a>:</strong> Sistema para contar y registrar eventos deportivos, diseñado para facilidad de uso y precisión.</li>
        </ul>
    </section>

    <section class="box" id="habilidades">
        <h2>Habilidades y Tecnologías</h2>
        <ul>
            <li><strong>Lenguajes de Programación:</strong> Python, JavaScript, HTML, CSS.</li>
            <li><strong>Herramientas y Tecnologías:</strong> Docker, Git, Node.js, React.</li>
            <li><strong>Metodologías:</strong> Agile, Scrum.</li>
        </ul>
    </section>

    <section class="box" id="contacto">
        <h2>Contacto</h2>
        <p>Si deseas saber más sobre mis proyectos o colaborar en alguna iniciativa, no dudes en contactarme a través de mi correo electrónico: <a href="mailto:diegodc03@gamil.com">diegodc03&#64;gmail.com</a>.</p>
    </section>

    <section class="box" id="redes-sociales">
        <h2>Redes Sociales y Enlaces</h2>
        <ul>
            <li><a href="https://www.linkedin.com/in/diegodc03" target="_blank">LinkedIn</a></li>
            <li><a href="https://twitter.com/diegodc03" target="_blank">Twitter</a></li>
            <li><a href="https://github.com/diegodc03" target="_blank">GitHub</a></li>
        </ul>
    </section>
</div>

