/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 1rem;
    text-align: center;
}

.content {
    padding: 2rem;
}

.box {
    background-color: #a5dae7;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    padding: 1.5rem;
}

h2 {
    color: #007bff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 0.5rem;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 1rem;
}

.rectangulo {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: white;
    background-color: #0056b3;
    border-radius: 5px;
    text-decoration: none;
}

.rectangulo:hover {
    background-color: #003d7a;
}
