<div class="content">
    <section id="quienes-somos" class="section">
        <h2>Quienes Somos</h2>
        <p>Somos una empresa dedicada a brindar soluciones tecnológicas innovadoras para satisfacer las necesidades de nuestros clientes. Con más de una década de experiencia en el mercado, nos comprometemos a ofrecer productos y servicios de la más alta calidad.</p>
    </section>
    
    <section id="envianos-email" class="section">
        <h2>Envíanos un Email</h2>
        <p>Puedes contactarnos a través de nuestro correo electrónico...</p>
    </section>
    
    <section id="nuestros-productos" class="section">
        <h2>Nuestros Productos</h2>
        <p>Descubre nuestra amplia gama de productos...</p>
    </section>
    
    <section id="registrarse" class="section">
        <h2>Registrarse</h2>
        <p>Regístrate para obtener acceso a contenido exclusivo...</p>
        <!-- Botón para volver al index.html -->
        <a class="rectangulo" routerLink="/index">Volver al Index</a>
    </section>
</div>
