<div>

    <div class="upper-div">
        <h2> Tallas del Producto </h2>
        <div (click)="confirmSelection()" id="bag">
            Confirmar Selección
        </div>
    </div>

    <div class="product-box">
        <div *ngFor="let size of sizes; let i = index" class="col-12 col-sm-6 col-md-4 col-lg-3 box product-grid" (click)="addToCartSize(size)">
            <div>
                
                <div  class="card">Talla: {{size.size}}</div>
                <div  class="card">Stock: {{size.stock}}</div>
                <div  class="card">Color: {{size.color}}</div>
                <div  class="card">Material: {{size.material}}</div>
                
            </div>
        </div>

    </div>

    
</div>
