*{
    margin:30px;
}

body{
    font-family: Arial, sans-serif;
}

.box{
    width: 300px;
    background-color: aqua;
    height: 300px;
    display: inline-block;
    border: 3px solid rgb(255, 0, 0);
    
}


.upper-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

#bag{
    font-size: larger;
    font-weight: bold;
}