<div class="container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!--<p class="text-danger">{{registerError}}</p>-->
        <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input formControlName="email" type="email" class="form-control" id="username" aria-describedby="usernameHelp">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                <div *ngIf="email.errors?.['required']">El Email es requerido.</div>
                <div *ngIf="email.errors?.['email']">El Email debe tener un formato válido. Tiene que tener el formato xxxxxx xxxxx </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input formControlName="firstName" type="text" class="form-control" id="firstName">
            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
                <div *ngIf="firstName.errors?.['required']">El First Name es requerido.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input formControlName="lastName" type="text" class="form-control" id="lastName">
            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
                <div *ngIf="lastName.errors?.['required']">El Last Name es requerido.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input formControlName="country" type="text" class="form-control" id="country">
            <div *ngIf="country.invalid && (country.dirty || country.touched)" class="text-danger">
                <div *ngIf="country.errors?.['required']">El Country es requerido.</div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password1" class="form-label">Password</label>
            <input formControlName="password1" type="password1" class="form-control" id="password">
          
            <!-- Validaciones combinadas, se muestran si el campo ha sido tocado o modificado -->
            <div *ngIf="password1.invalid && (password1.dirty || password1.touched)" class="text-danger">
              
              <!-- Campo requerido -->
              <div *ngIf="password1.errors?.['required']">
                El Password es requerido.
              </div>
          
            </div>
        </div>
        <div class="mb-3">
            <label for="password2" class="form-label">Repeat Password</label>
            <input formControlName="password2" type="password2" class="form-control" id="password">
          
            <!-- Validaciones combinadas, se muestran si el campo ha sido tocado o modificado -->
            <div *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="text-danger">
              <!-- Campo requerido -->
              <div *ngIf="password2.errors?.['required']">
                El Password es requerido.
              </div>
          
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>
