<div class="container">

    <div class="upper-div ">
        <h2> Ligas </h2>
        <div routerLink="/sports/create-league" id="bag">
            Añadir Liga
        </div>
    </div>
    
    <!--
    <select class="form-control box-filter" id="filterSelect" [(ngModel)]="selectedFilter" (change)="applyFilter()">
        <option value="none">Filtro  </option>
        <option value="price-ascending">Alfabeticamente mayor a menor</option>
        <option value="price-descending">Mas gente</option>
    </select>-->

    <div class="product-list">
        <div> 
            <div class="grid-words header">
                <div class="product-name">Ligas</div>
                <div class="product-name">Tipo de liga</div>
                <div class="product-actions">Solicitud de acceso</div>
            </div>
        </div>
        <div *ngFor="let league of leagues; let i = index" class="product-item">
            <div class="grid-words  product-row" >

                <div class="product-name">{{ league.name }}</div>
                <div class="product-name">{{ league.leagueType}}</div>
                <div class="product-actions">
                    <button class="btn btn-danger btn-sm" 
                            *ngIf="league.requireRequest" 
                            (click)="requestToJoinLeague(league.id)">
                        Solicitud de entrada
                    </button>
                    <button class="btn btn-success btn-sm"
                            *ngIf="!league.requireRequest"
                            (click)="joinLeagueDirectly(league.id)">
                        Unirse directamente
                    </button>
                </div>
            </div>
        </div>
    </div>   
</div>