<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Private Zone</title>
</head>
<body>
  <div class="container">
    <div class="message" *ngIf="!errorMessage">{{ welcomeMessage }}</div>
    <div class="message" *ngIf="errorMessage">{{ errorMessage }}</div>
    <div class="button" (click)="changePassword()">Change Password</div>
    <div class="button" (click)="changePersonalInfo()">Change Personal Info</div>
    <div class="button" (click)="deleteAccount()">Delete Account</div>
  </div>
</body>
</html>