<!-- inventary.component.html -->
<div class="container">
    <h2>Inventario</h2>
    <div class="form-group">
      <label for="filterSelect">Filtro:</label>
      <select class="form-control" id="filterSelect" [(ngModel)]="selectedFilter" (change)="applyFilter()">
        <option value="none">Ninguno</option>
        <option value="price-ascending">Precio Ascendente</option>
        <option value="price-descending">Precio Descendente</option>
        <option value="stock-ascending">Stock Ascendente</option>
        <option value="stock-descending">Stock Descendente</option>
      </select>
    </div>
    <div class="product-list">
        <div> 
            <div class="product-header">
                <div class="product-id">ID</div>
                <div class="product-name">Nombre</div>
                <div class="product-description">Descripción</div>
                <div class="product-price">Precio</div>
                <div class="product-stock">Stock</div>
                <div class="product-actions">Acciones</div>
            </div>
        </div>
        <div *ngFor="let product of products; let i = index" class="product-item">
            <div class="product-header" (click)="toggleGarments(i)">
                <div class="product-id">{{ product.publicId }}</div>
                <div class="product-name">{{ product.name }}</div>
                <div class="product-description">{{ product.description }}</div>
                <div class="product-price">{{ product.price | currency }}</div>
                <div class="product-stock">{{ product.totalStock }}</div>
                <div class="product-actions">
                    <a routerLink="/dashboard/inventarySale/update-product/{{ product.publicId }}" class="btn btn-primary btn-sm">Editar</a>
                    <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.publicId)">Eliminar</button>
                    <button
                        *ngIf="product.isTshirt"
                        class="btn btn-info btn-sm"
                        (click)="toggleGarments(i, $event)"
                    >
                        {{ showGarments[i] ? 'Ocultar Tallas' : 'Ver Tallas' }}
                    </button>
                </div>
            </div>

            <!-- Detalles del producto -->
            <div *ngIf="showGarments[i] && product.isTshirt" class="product-details">
                <h5 class="tittle-details">Detalles de Tallas</h5>
                <div class="details-content">
                    <div *ngFor="let garment of product.garments" class="garment-row">
                        <div class="garment-items">
                            <div class="garment-item"><strong>Talla:</strong> {{ garment.size }}</div>
                            <div class="garment-item"><strong>Color:</strong> {{ garment.color }}</div>
                            <div class="garment-item"><strong>Material:</strong> {{ garment.material }}</div>
                            <div class="garment-item"><strong>Stock:</strong> {{ garment.stock }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      
    <button class="btn btn-success margin-button" routerLink="/dashboard/inventarySale/add-product">Agregar Producto</button>
  </div>
  
  